<!doctype html>
<html>
  <head>
      <title>Poké Training Camp</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Anton|Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <img class="pick6" src="https://fontmeme.com/permalink/181118/bed5d03ba9bc58fb85fb76dfceace12e.png" alt="">
    <div class="container">
      <section class="top">
        <img class="pokeball" src="pokemon-images/pokeball4.png" alt="">
        <img class="pokeball" src="pokemon-images/pokeball4.png" alt="">
        <img class="pokeball" src="pokemon-images/pokeball4.png" alt="">
      </section>
      <section class="mid">
        <img class="pokeball" src="pokemon-images/pokeball4.png" alt="">
        <img class="pokeball" src="pokemon-images/pokeball4.png" alt="">
        <img class="pokeball" src="pokemon-images/pokeball4.png" alt="">
      </section>
      <div class="bottom text-center">
          <p>Login or Signup:</p>
          <a href="/login" class="btn btn-default">Login</a>
          <a href="/signup" class="btn btn-default">Signup</a>
      </div>
    </div>
  </body>
</html>
