html,body{
  margin: 0;
  padding: 0;
  background-color: #75B9D1
}
body{
  text-align: center;
}
p{
  font-family: 'Anton', sans-serif;
  color: #fdcc2f;
  font-size: 40px;
}
.pokeball{
  width: 300px;
  height: 100%;
}
.container{
  /* background-color: #75B9D1; */
  margin-top: 0;
  width: 60%;
}
.pick6{
  margin-top: 100px;
}
.top,.mid,.bottom{
  width: 100%;
  height: 150px;
}
